// Bootstrap
@import "taboga/variables";
@import '../../bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap';

// IFARHU Taboga
@import "taboga/mixins";
@import "taboga/aside";
@import "taboga/main-content";
@import "taboga/sparkline";
@import "taboga/components";
@import "taboga/_template";