<footer>
	<div class="container">
		<div class="row">
			<div class="col-md-2">
				<img src="{{base}}/images/logo_footer.png" alt="">
			</div>
			<div class="col-md-6">
				<p>Cuidad de Panamá</p>
				<p>Avenida Ramón Arias y Calle 1ra El Carmen</p>
				<p>Edificio Unicorp Business Plaza</p>
				<p>500-4700</p>
				<p>ayuda@ifarhu.gob.pa</p>
			</div>
			<div class="col-md-4">
				<ul>
					<li><a href="http://wiki.ifarhu.gob.pa/xwiki/bin/view/Main/">Wiki IFARHU </a><i class="fa fa-search"></i></li>
					<li><a href="http://wiki.ifarhu.gob.pa/xwiki/bin/view/Manuales/Secci%C3%B3n+de+Servicio+al+Usuario"> ¿Encontró un error? Contáctenos </a><i class="fa fa-laptop"></i></li>
				</ul>
			</div>
		</div>

		<hr>
		
		<div class="row">
			<div class="col-md-12">
				<p>&copy; Todos los Derechos Reservados, IFARHU. 2015-2016.</p>
				<p>Desarrollado por la Dirección de Tecnología Informática, IFARHU. Utiliza <a href="https://github.com/IFARHU/taboga" target="_blank">Taboga</a></p>
				<br>
			</div>
		</div>
	</div>
</footer>