<div id="3d-chart-container">Loading ...</div>
<script>
	$(document).ready(function(){
		FusionCharts.ready(function () {
			var ageGroupChart = new FusionCharts({
				type: 'pie3d',
				renderAt: '3d-chart-container',
				width: '450',
				height: '450',
				dataFormat: 'json',
				dataSource: {
					"chart": {
						"caption": "Distribución por Provincia",
						"paletteColors": "#0075c2,#1aaf5d,#f2c500,#f45b00,#8e0000",
						"bgColor": "#ffffff",
						"showBorder": "0",
						"use3DLighting": "0",
						"showShadow": "0",
						"enableSmartLabels": "0",
						"startingAngle": "0",
						"showPercentValues": "1",
						"showPercentInTooltip": "0",
						"decimals": "1",
						"captionFontSize": "14",
						"subcaptionFontSize": "14",
						"subcaptionFontBold": "0",
						"toolTipColor": "#ffffff",
						"toolTipBorderThickness": "0",
						"toolTipBgColor": "#000000",
						"toolTipBgAlpha": "80",
						"toolTipBorderRadius": "2",
						"toolTipPadding": "5",
						"showHoverEffect":"1",
						"showLegend": "1",
						"legendBgColor": "#ffffff",
						"legendBorderAlpha": '0',
						"legendShadow": '0',
						"legendItemFontSize": '10',
						"legendItemFontColor": '#666666'
					},
					"data": [
						{
							"label": "Primaria",
							"value": "1250400"
						}, 
						{
							"label": "Premedia",
							"value": "1463300"
						}, 
						{
							"label": "Media",
							"value": "1050700"
						}, 
					]
				}
			}).render();
		});
	});
</script>