<nav class="navbar navbar-inverse navbar-static-top" role="navigation">
	<div class="container-fluid">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="{{ site.baseurl }}/">IFARHU Taboga</a>
		</div>

		<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
			<ul class="nav navbar-nav">
				<!-- Gets current URI for index -->
				{% assign active = page.url  %}
				{% if active == '/' %}
					<li class="active"><a href="index.html">Inicio <span class="sr-only">(current)</span></a></li>
				{% else %}
					<li><a href="index.html">Inicio <span class="sr-only">(current)</span></a></li>
				{% endif %} 

				<!-- Gets current URI of acerca, instalacion and estilos -->
				{% assign url_parts = page.url | split: '/' %}
				<li {% if url_parts[1] == 'acerca.html' %} class="active" {% endif %}><a href="{{ site.baseurl }}/acerca">Acerca</a></li>
				<li {% if url_parts[1] == 'instalacion.html' %} class="active" {% endif %}><a href="{{ site.baseurl }}/instalacion">Instalación</a></li>
				<li {% if url_parts[1] == 'estilos.html' %} class="active" {% endif %}><a href="{{ site.baseurl }}/estilos">Estilos</a></li>

				<li class="dropdown" class="active">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown"> Templates <span class="caret"></span></a>
					<ul class="dropdown-menu" role="menu">
						<li><a href="{{ site.baseurl }}/templates/landing_page.html">Página de Inicio</a></li>
						<li><a href="{{ site.baseurl }}/templates/formulario">Formulario</a></li>
						<li><a href="{{ site.baseurl }}/templates/index.html">Index</a></li>
						<li><a href="{{ site.baseurl }}/templates/show.html">Show</a></li>
						<li><a href="{{ site.baseurl }}/templates/login.html">Login</a></li>
						<li><a href="{{ site.baseurl }}/templates/admin/dashboard.html">Dashboard</a></li>
					</ul>
				</li>
			</ul>

			<div class="navbar-collapse collapse">
			</div>
		</div>
	</div><!-- /.container-fluid -->
</nav>
