---
layout: default
---

<div class="container">
	<div class="row">
		<div class="col-md-12">
		    <ol class="breadcrumb">
		        <li><a href="{{ site.baseurl }}/templates/admin/dashboard">Admin Dashboard</a></li>
		        <li>Editar</li>
		    </ol>
		</div>
		<div class="col-md-12">
		<h1>Tablero para administradores </h1>
		<a href="{{ site.baseurl }}/templates/admin/formulario" class="btn btn-primary"> Crear</a>

			<table class="table table-hover">
				<thead>
					<tr>
						<th>id</th>
						<th>Nombre</th>
						<th>Roles</th>
						<th>Acciones</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>1</td>
						<td>Robert Cecil Martin</td>
						<td><label for="" class="label label-primary">User </label></td>
						<td><a href="{{ site.baseurl }}/templates/admin/formulario.html" class="btn btn-success">Edit</a> <button class="btn btn-danger">Borrar</button></td>
					</tr>
					<tr>
						<td>2</td>
						<td>Steve Krugg</td>
						<td><label for="" class="label label-success">Admin </label></td>
						<td><a href="{{ site.baseurl }}/templates/admin/formulario.html" class="btn btn-success">Edit</a> <button class="btn btn-danger">Borrar</button></td>
					</tr>
					<tr>
						<td>3</td>
						<td>Warren Buffet</td>
						<td><label for="" class="label label-info">Super Admin </label></td>
						<td><a href="{{ site.baseurl }}/templates/admin/formulario.html" class="btn btn-success">Edit</a> <button class="btn btn-danger">Borrar</button></td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>