---
layout: master
---
<div class="container">
	<div class="row">
		<div class="col-md-12">
			<ol class="breadcrumb">
				<li><a href="index.html">Index</a></li>
				<li class="active">Nueva Registro</li>
			</ol>
		</div>

	</div>

	<div class="row">
		<div class="col-md-12">
			<h1>Nuevo Registro</h1>
			<hr>

			<h3>Nombre</h3>
			<input type="text" name="" id="input" class="form-control" value="" required="required" pattern="" title="">

			<hr>

			<h3>Departamento</h3>
			<select name="" id="departments" class="form-control">
				<option value="">-- Seleccione un departamento --</option>
				<option value="">DTI</option>
				<option value="">Desarrollo</option>
			</select>

			<hr>

			<h3>Descripcion</h3>
			<textarea name="" id="input" class="form-control" rows="3" required="required"></textarea>

			<hr>

			<h3>Roles</h3>
			<select name="" id="tags" class="form-control" multiple="multiple">
				<option value="">-- Seleccione un departamento --</option>
				<option value="">Admin</option>
				<option value="">Super Admin</option>
				<option value="">Super User</option>
			</select>

			<hr>

			<a href="index.html" class="btn btn-info btn-block">Enviar</a>
			<a href="index.html" class="btn btn-warning btn-block">Cancelar</a>

			<br>
		</div>
	</div>
</div>