---
layout: master
---
<div class="container">
	<div class="jumbotron">
		<h1>Landing page</h1>
		<p class="lead">
			<strong><a href="https://github.com/IFARHU/taboga">Taboga</a></strong> es lorem ipsum dolor sit amet, consectetur adipisicing elit. Officia, excepturi quis in. Quis excepturi voluptas, id sint tenetur sed velit incidunt, animi laborum consectetur, hic explicabo necessitatibus facere eum sunt?
		</p>

		<h2>Sub encabezado</h2>
		<p class="lead">
			Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolor ut unde consequatur, vitae nostrum esse fugit totam sed. Nulla eveniet labore reprehenderit necessitatibus magni perspiciatis velit est similique architecto, nostrum!
		</p>
	</div>

	<div class="container">
		<div class="row">
			<div class="col-md-12">
			<h3>Instrucciones</h3>
				<ol>
					<li>
						<p>
							Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt officia debitis obcaecati omnis, quia ipsum ullam, architecto dolores repudiandae cum nesciunt sunt repellendus itaque at aliquam, natus sed minima eos?
						</p>
					</li>
					<li>
						<p>
							Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt officia debitis obcaecati omnis, quia ipsum ullam, architecto dolores repudiandae cum nesciunt sunt repellendus itaque at aliquam, natus sed minima eos?
						</p>
					</li>
					<li>
						<p>
							Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt officia debitis obcaecati omnis, quia ipsum ullam, architecto dolores repudiandae cum nesciunt sunt repellendus itaque at aliquam, natus sed minima eos?
						</p>
					</li>
				</ol>
			</div>
		</div>
	</div>
	<br>
</div>