---
layout: default
---

<div class="container">
	<div class="row">
		<div class="col-sm-8 col-sm-offset-2 text-center">
			<h1>Bienvenid@</h1>
			<p class="lead">Bienvenid@ a <strong>SIVIfarhu</strong>. El Sistema de Verificación de IFARHU, es un servicio primario que utiliza la información del Tribunal Electoral para la validación de los datos de un nacional panameño.</p>
		</div>
	</div>

	<div class="row">
		<div class="col-sm-6 col-sm-offset-3">
			<div class="panel panel panel-default ">
				<div class="panel-heading">
					Iniciar Sesión
				</div>
				<div class="panel-body">
					<div class="form-group">
						<label for="username">Usuario</label>
						<input type="text" tabindex="1" placeholder="n.apellido" class="form-control">
					</div>

					<div class="form-group">
						<label for="username">Contraseña</label>
						<input type="password" tabindex="2" placeholder="Contraseña" class="form-control">
					</div>

					<div class="form-group">
						<a href="{{site.baseurl}}/templates/index" class="btn btn-success btn-block">Iniciar Sesión</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
