---
layout: default
---

<div class="container">
	<h1 class="text-center login-title">Iniciar Sessión</h1>			
	<hr>

	<div class="col-md-6 col-md-offset-3">

		<div class="login-title">
			<div class="panel panel-default">
				<div class="panel-heading">
					<div class="panel-body">
						<p>Login:</p>
						<input type="text" name="" id="input" class="form-control" value="" required="required" pattern="" title="">
						<p>Password:</p>
						<input type="text" name="" id="input" class="form-control" value="" required="required" pattern="" title="">

						<p>¿No puedes entrar al sistema?<a href="http://wiki.ifarhu.gob.pa/xwiki/bin/view/Manuales/Secci%C3%B3n+de+Servicio+al+Usuario" target="_blank"> Solicite sus credenciales</a>
						</p>

						<hr>
						
						<a href="index.html" class="btn btn-success btn-block pull-left">Ingresar</a>	
						<a href="index.html" class="btn btn-info btn-block pull-right"> Volver</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>