footer {
	padding-top: 60px !important;
	background-color: #f9f9fa;
	border-top: 1px solid #eeeef1;
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 1em;
}

.login-footer {
	padding-top: 60px !important;
	border-top: 1px solid #eeeef1;
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 1em;
}

h2.index-header {
	padding-bottom: 7px;
}

.col-md-4 > ul > li > i {
	font-size: 1.5em;
}

.col-md-4 > ul > li {
	text-align: right;
	list-style: none;
}

.col-md-4 > ul > li {
	line-height: 3em;
}

div.panel.panel-primary .panel-heading a {
	color: #acc7e2;
}

.login-title {
	padding-top: 30px;
}

div .select2{
	width: 100% !important;
}